body {
     margin: auto 0;
     padding: 0;
     border: 0;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 16x;
}

.container {
        display: flex;
        margin: 0 auto;
        width: 1200px;
}

.container-full { 
        width: 100%;
        display: flex;
}

.nav { 
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
}

#left,
#right{ 
    display: flex;
    align-items: center;
}

#right { 
    justify-content: end;
}

.nav a { 
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 14px;
}
#left>img { 
    width: 100px;
    margin-left: -20px;

}
.nav a::after {
        content:"";
        background-color: black;
        width: 0%;
        display: block;
        height: 2px;
}
.nav a:hover::after{
        width: 100%;

}