
a { color: rgb(74, 78, 78);text-decoration: none; }

#left {display: inline-block;
width: 50%;}

#left>img {
width: 100px;
}

#left>a { margin-left: 15px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#right { display: inline-block;
text-align: end;
width: 48%;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.picture {
    margin: 0 auto;
    width: 750px;
    padding-top: 10px;
    padding-bottom: 10px;
    ;}

#dis-element {
height: 150px;
width: 750px;
margin: 0 auto;
}    

.ic-element {
height: 150px;
width: 180px;
background-color: rgb(211, 211, 230);
display: inline-block;
color: rgb(17, 20, 20);
margin-top: 40px;
margin-left: 35px;
margin-right: 32px;
}



/*
1. Element Selector - bütün elementlere etki eder
2. Class Selector
3. ID Selector
ID>Class>Element

a:hover {color: blueviolet;}

h2{
color: grey;    
background-color: aqua;
}

.bg-dark{
background-color: black;
} 

.text-yellow{
color: bisque;
}

.text-primary{
color: #bcbcbc
}

#ozel-p-elementi{
color: yellow;
background-color: red;
}

.link{
color: black;    
}

#contact-link{
color: blanchedalmond
;}

p:hover { 
color: blueviolet;    
}

h1 {width: 400px;
    margin: 0 auto;
}

a { font-family:'Times New Roman', Times, serif;
}

h1 { font-family: 'Times New Roman', Times, serif;
font-size: 40px;}
*/